body {
    overflow-x: hidden;
}
section {
    overflow: hidden;
}

p + p {
    margin-top: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

b,
strong {
    font-weight: $font-weight-bold;
}

::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-track {background: $gray-100;}
::-webkit-scrollbar-thumb {background: $primary;}

.text-white {
    a {
        color: $white;
    }
}

.btn {
    transition: $transition-base;
    &:hover {
        transform: scale(1.05);
    }
}